html {
  background-image: url(../images/main_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover 10%;
}
table{
    background-color: grey;
}
td{
    background-color:  lightgrey;
}
th{
    background-color: darkgrey;
}